<div class="container marketing">

    <div class="row">
        <div class="col-lg-4">
            <h2>一覧を見る</h2>
            <p><a class="btn btn-secondary" [routerLink]="['/gear']" role="button">ギア一覧へ »</a></p>
        </div>
        <div class="col-lg-4">
            <h2>ブランドを見る</h2>
            <p><a class="btn btn-secondary" [routerLink]="['/brand']" role="button">ブランド一覧へ »</a></p>
        </div>
        <div class="col-lg-4">
            <h2>ギアパワーを見る</h2>
            <p><a class="btn btn-secondary" [routerLink]="['/power']" role="button">ギアパワー一覧へ »</a></p>
        </div>
    </div>

</div>
